*{
    background-color: rgb(147, 197, 255);
 color: white;
 font-family: 'Pathway Extreme', sans-serif;
}

header {
 display: flex;
 flex-direction: column;
 padding: 5%;
 box-sizing: border-box;
 text-align: center;
 
}

h1{
    border-bottom:thin solid rgb(14, 124, 69);
}

nav{
    padding: 0.2%;
}
menu{
    display: flex;
    flex-direction: row;
    flex: 0 10em;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-radius: 0.25rem;    
}

body{
    align-items: center;
    
}

h2{
    display: flex;
    align-items: center;
    color:rgb(14, 124, 69);
    padding: 3%;
}
legend{
justify-content: center;
}

h3{
    border-bottom: thin solid rgb(14, 124, 69);
}


main{
    align-items: center;
    display: flex;
    flex-direction: column;
}
hr{
    margin: 0;
    color: inherit;
    border: 0;

}
table {
    border: thin rgb(14, 124, 69) solid;
}

table thead{
    border: thin rgb(14, 124, 69) solid;
}
table tr{
    border: thin rgb(14, 124, 69) solid;
}
table td{
    border: thin rgb(14, 124, 69) solid;
}

.footer{
padding:0.3%;
align-items: start;
display: relative;
}


