*{
    background-color: rgb(147, 197, 255);
 color: white;
 font-family: 'Pathway Extreme', sans-serif;
}

header {
 display: flex;
 flex-direction: column;
 padding: 5%;
 box-sizing: border-box;
 text-align: center;
 
}

h1{
    border-bottom:thin solid rgb(14, 124, 69);
}


nav.eventcontrols{
    padding: 0.2%;
    flex-direction: row;
}
menu{
    display: flex;
    flex-direction: column;
    flex: 0 10em;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-radius: 0.25rem;    
}

body{
    align-items: center;
    
}

h2{
    display: flex;
    align-items: center;
    color:rgb(14, 124, 69);
    padding: 3%;
}
legend{
justify-content: center;
}

h3{
    border-bottom: thin solid rgb(14, 124, 69);
}


main{
    align-items: center;
    display: flex;
    flex-direction: column;
}
hr{
    margin: 0;
    color: inherit;
    border: 0;

}


.footer{
padding:0.3%;
align-items: start;
display: relative;
}

.btn-outline-light{
margin: 2%;;
}

.row{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.col{
    flex: 1;
}

#root{
    margin-top: 1.5rem;
}

.accordion-item {
    display: inline-block;
    width: 100%;
  }
  
  .accordion-button {
    text-align: left;
    align-items: left;
    justify-content: left;
  }
  
  .accordion-body {
    padding: 10px;
    background-color: rgb(147, 197, 255);
  }
  
  .list-group-item {
    border: none;
    padding: 0.5rem 0;
    background-color: white;
  }
  
  p {
    background-color:rgb(147, 197, 255);

  }

  button.btn.btn-primary{
    display: inline-block;
    align-self: center;

  }

  #logincontrols{
    align-items: center;
    display: flex;
    flex-direction: column;
  
  }